<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Book Store API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Fondamento:ital@0;1&display=swap" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script defer src="js/ScrambleTextPlugin.js"></script>
    <script defer type="module" src="js/main.js"></script>
</head>

<body>
  <div class="grid-con" id="app">
    <div class="col-span-full m-col-start-1 m-col-end-13">
      <h2 class="header main-title">•───⋅⋆⁺‧₊☽⛦☾₊‧⁺⋆⋅───•</h2>
      <p class="header">Here you'll find two cards of each Minor Arcana suit and two Major Arcana's.</p>
      <p class="header">Click Reveal Meaning to START and to reveal the upright meaning | Click Flip Card to see the reversed meaning </p>
      <p class="header">Click Reveal Suit to see information about the Suits</p>
  
      <!-- Loader -->
      <div v-if="loadingCards">
        <div class="loader"></div>
      </div>
  
      <!-- Cards Grid -->
      <div class="col-span-full card-grid">
        <div
          v-for="(card, index) in cardsData"
          :key="card.id"
          class="card"
        >
          <img :src="'images/' + card.poster" :alt="card.title" :class="{ flipped: card.isFlipped }" />

          <div class="card-overlay" :class="{ active: activeCard === index }">
            <h3>{{ card.title }}</h3>
            <div v-if="showSuitInfo === index">
              <h4>Suit: {{ card.suit_name }}</h4>
              <p>Element:</strong> {{ card.suit_element }}</p>
              <p>Description:</strong> {{ card.suit_description }}</p>
            </div>
            <div v-else>
              <p>{{ card.isFlipped ? card.reversed : card.upright }}</p>
            </div>
          </div>
          <div class="button-group">
            <button class="flip-btn" @click="flipCard(index)">Flip Card</button>
            <button class="reveal-btn" @click="toggleOverlay(index)">Reveal Meaning</button>
            <button class="suit-btn" @click="toggleSuitInfo(index)">Reveal Suit</button>
          </div>
        </div>
      </div>
  
</body>
</html>