<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Book Store API</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Fondamento:ital@0;1&display=swap" rel="stylesheet">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer type="module" src="js/main.js"></script>
</head>

<body>
  <div class="grid-con" id="app">
    <div class="col-span-full m-col-start-1 m-col-end-13">
      <div id="header" class="grid-con">
      <h1 class="col-span-full">Welcome to the World of Tarot</h1>
      <h2 class="col-span-full">Here you'll find two cards of each Minor Arcana suit and two Major Arcana's</h2>
      <p class="col-span-full">Click on a card to find out more about it.</p>
      </div>
  
      <!-- Loader -->
      <div v-if="loadingCards">
        <div class="loader"></div>
      </div>
  
      <!-- Cards Grid -->
      <div v-else class="card-grid">
        <div
          v-for="card in cardsData"
          :key="card.name"
          class="card"
        >
        <img :src="'images/' + card.poster" :alt="card.title" />
          <div class="card-info">
            <h3>{{ card.title }}</h3>
            <p>Upright Meaning: {{ card.upright }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>