
h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px; 
    margin-bottom: 22px; 
    text-align: center;
}

h2 {
    font-family: "Cinzel Decorative", serif;
    font-size: 20px; 
    margin-bottom: 12px; 
    font-weight: 300;
    text-align: center;
}

h3 {
    font-family: "Cinzel Decorative", serif;
    font-size: 14px; 
    margin-bottom: 12px; 
    font-weight: 300;
    text-align: center;
}

h4 {
    font-family: "Fondamento", serif;
    font-size: 18px; 
    margin-bottom: 8px; 
    font-weight: 300;
    text-align: center;
}

p {
    font-family: "Fondamento", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px; 
    margin-bottom: 8px; 
    text-align: center;
}

button {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8px;
}


@media screen and (min-width: 744px) {

h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 48px; 
    margin-bottom: 22px; 
}

h2 {
    font-family: "Cinzel Decorative", serif;
    font-size: 38px; 
    margin-bottom: 20px; 
}

h3 {
    font-family: "Cinzel Decorative", serif;
    font-size: 24px; 
    margin-bottom: 20px; 
}

h4 {
    font-family: "Fondamento", serif;
    font-size: 18px; 
    margin-bottom: 8px; 
    font-weight: 300;
    text-align: center;
}

p {
    font-family: "Fondamento", serif;
    font-size: 20px; 
    margin-bottom: 8px; 
}



}