
body {
    margin-top: 24px;
    background-color: #ebb7ea;
}

.header {
    color: #561d57;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

.card {
    position: relative;
    overflow: hidden;
    border: 2px solid #4a0849;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card:hover img {
    transform: scale(1.1); 
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.821);
    color: #4a0849;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
  }
  
  .card:hover .card-overlay {
    opacity: 1; 
  }
  
  .card-overlay h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card-overlay p {
    margin: 10px 0 0;
    font-size: 1rem;
  }